@page
@using RecipeModels;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<head>
    <title>Bem-vindo ao Mundo das Receitas Italianas!</title>
</head>

    <header>
        <h1>Welcome to the World of Recipes!</h1>
    </header>
    <main>
        <section>
            <h2>Discover Authentic Italian Cuisine.</h2>
            <p>Explore our delicious recipes, instructional videos, and informative articles.</p>
        </section>
        <section>
            <h2>Recipe Highlights</h2>
            <p>Explore our most popular recipes and taste the flavors of Italy in your own home.</p>
        </section>
        <section>
            <h2>Recipe Videos</h2>
            <p>Watch our cooking videos and learn how to prepare the most beloved Italian dishes.</p>
        </section>
        <section>
            <h2>Helpful Resources</h2>
            <p>Discover useful tips and tricks to enhance your Italian culinary skills.</p>
        </section>
        <section>
            <h2>Articles and Curiosities</h2>
            <p>Dive into the history and culture behind iconic Italian dishes.</p>
        </section>
        <section>
            <h2>Cooking Tips</h2>
            <p>Learn to master Italian cooking techniques with our practical tips.</p>
        </section>
        <section>
            <h2>Special Events</h2>
            <p>Stay updated on Italian food events and festivals around the world.</p>
        </section>
    </main>
